<body>

<div class = 'outer'>
<div class= 'whiteBox'>
    <p>Stay Fresh allows people to stay up to date on when the foods they buy expire<p>
<div>

<div>

<body></body></div></p></div>    </body><body>

<div class='outer'>
<div class='whiteBox'>
    <p>suhnfvioedmnvoimnfrikkkokokllklo</p>
</div>

</div>

</body>