<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!-- FONTS --}}
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/roboto" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/rawline" type="text/css"/>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
