<body>
    <div class='outer' width='100%'>
        <div class='whiteBox'>

            <br><br><h2>Thanks for submitting your photo!</h2><br><br>
            <p style="text-align:center"> We detected that your purchase included the following items: </p>
            <ul>
                {{#each items}}
                    <li style="text-align:center">{{this}}</li>
                {{/each}}
            </ul>
            <br><p style="text-align: center">We'll send you a few texts before your produce
                expires to remind you to use them. <br> Click <a href='#'> here </a> to search for recipes
                using your produce. <br> Click <a href='#'>here</a> for food banks near you you can 
                donate to.
            </p>
        </div>
    </div>
</body>