body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


h1 { 
  font-family: 'RawlineRegular'; 
  font-weight: normal; 
  font-style: normal; 
  text-align: center;
  font-size: 50px;
}

p { 
  font-family: 'RobotoRegular'; 
  font-weight: normal; 
  font-style: normal; 
  color: darkslategrey;
  size: 20px;
}