body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  background-image: url('/images/veg.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.whiteBox {
  background: white;
  width: 60%;
  display: inline-block;
  border-radius: 8px;
}

h1 { 
  font-family: 'RawlineRegular'; 
  font-weight: normal; 
  font-style: normal; 
  text-align: center;
  font-size: 50px;
}

h2 {
  font-family: 'RawlineRegular'; 
  font-weight: normal; 
  font-style: normal; 
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

p { 
  font-family: 'RobotoRegular'; 
  font-weight: normal; 
  font-style: normal; 
  color: darkslategrey;
  size: 20px;
  margin: 0;
  padding: 0 0 30px;
}

label {
  font-family: 'RobotoRegular'; 
  font-weight: normal; 
  font-style: normal; 
  color: darkslategrey;
  size: 20px;
}

input {
  font-family: 'RobotoRegular'; 
  font-weight: normal; 
  font-style: normal; 
  color: darkslategrey;
  size: 20px;
}

.btn {
  font-family: 'RobotoRegular'; 
  font-weight: normal; 
  font-style: normal; 
  color: darkslategrey;
  size: 20px;
}

form { 
  margin: 0 auto; 
  width:350px;
  }

li {
  font-family: 'RobotoRegular'; 
  font-weight: normal; 
  font-style: normal; 
  color: darkslategrey;
  size: 20px;
  margin: 0;
  list-style: none;
}

img {
  /* align-items: center;
  /* position: absolute; */
  margin: 0 100px 0;
}